[Unit]
Description=OllamaTaskCreator Webapp
Documentation=https://github.com/rana/OllamaTaskCreator
After=network.target

[Service]
Type=simple
User=[USER]
WorkingDirectory=[HOME]/OllamaTaskCreator
ExecStart=[HOME]/OllamaTaskCreator/venv/bin/python webapp/src/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
